<template>
  <div class="apply-loan">
    <div class="container">
      <div class="columns">
        <div class="box column is-half is-offset-one-quarter p-5">
          <h3 class="is-size-3">Loan Form</h3>

          <notification v-if="successMessage" category="success">{{ successMessage }}</notification>
          <notification v-if="errorMessage" category="error">{{ errorMessage }}</notification>

          <div class="field">
            <label class="label">Amount *</label>
            <div class="control">
              <input class="input" type="number" v-model="amount" min="0" />
            </div>
          </div>
          <div class="field">
            <label class="label">Loan Term * (months)</label>
            <div class="control">
              <input class="input" type="number" v-model="loanTerm" min="1" />
            </div>
          </div>

          <div class="field is-grouped mt-5">
            <div class="control">
              <button class="button is-link" @click="handleApplyClick">Apply</button>
            </div>
            <div class="control">
              <button class="button is-outlined" @click="handleViewPaymentClick">View Payment</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { RouteName } from '@/constants/route.constants';
import { logService, loanService } from '@/services';
import { Notification } from '@/components/common';

const ApplyLoan = {
  components: { Notification },
  data() {
    return {
      amount: 0,
      loanTerm: 3,
      successMessage: '',
      errorMessage: ''
    };
  },
  methods: {
    clearMessages() {
      this.successMessage = '';
      this.errorMessage = '';
    },
    validateLoan() {
      if (!this.amount || this.amount < 0) {
        this.errorMessage = 'Amount must be larger than 0';
        return false;
      }
      if (!this.loanTerm || this.loanTerm < 0) {
        this.errorMessage = 'Loan term must be larger than 0';
        return false;
      }
      return true;
    },
    handleApplyClick() {
      logService.info('handleApplyClick invoked');
      this.clearMessages();
      const loan = { userId: 123, amount: this.amount, loanTerm: this.loanTerm };
      const isLoanValid = this.validateLoan(loan);
      if (isLoanValid) {
        loanService
          .applyLoan(loan)
          .then(() => {
            this.successMessage = `Apply loan successfully with amount ${this.amount} payed in ${this.loanTerm} months`;
          })
          .catch((err) => {
            logService.error(err.message);
            this.errorMessage = 'Have issues when submitting loan';
          });
      }
    },
    handleViewPaymentClick() {
      logService.info('handleViewPaymentClick invoked');
      this.$router.push({ name: RouteName.VIEW_PAYMENT });
    }
  }
};

export default ApplyLoan;
</script>

<style lang="scss" scoped>
.apply-loan {
  padding-top: 100px;
}
</style>
