<template>
  <div class="register">
    <div class="container">
      <div class="columns">
        <div class="box column is-half is-offset-one-quarter p-5">
          <h3 class="is-size-3">Register Account</h3>

          <notification v-if="errorMessage" category="error">{{ errorMessage }}</notification>

          <div class="mt-3">
            <div class="field">
              <label class="label">Name *</label>
              <div class="control">
                <input class="input" type="text" v-model="name" />
              </div>
            </div>
            <div class="field">
              <label class="label">Phone *</label>
              <div class="control">
                <input class="input" type="text" v-model="phone" />
              </div>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="text" v-model="email" />
              </div>
            </div>
            <div class="field">
              <label class="label">Address</label>
              <div class="control">
                <input class="input" type="text" v-model="address" />
              </div>
            </div>

            <div class="field is-grouped mt-5">
              <div class="control">
                <button class="button is-link" @click="handleSubmitClick">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { RouteName } from '@/constants/route.constants';
import { logService, userService } from '@/services';
import { Notification } from '@/components/common';

const Register = {
  components: { Notification },
  data() {
    return {
      errorMessage: '',
      name: '',
      phone: '',
      email: '',
      address: ''
    };
  },
  methods: {
    clearMessages() {
      this.errorMessage = '';
    },
    validateAccount() {
      if (!this.name) {
        this.errorMessage = 'Name is required';
        return false;
      }
      if (!this.phone) {
        this.errorMessage = 'Phone is required';
        return false;
      }
      return true;
    },
    handleSubmitClick() {
      logService.info('handleSubmitClick invoked');
      this.clearMessages();
      const account = { name: this.name, phone: this.phone, email: this.email, address: this.address };
      const isAccountValid = this.validateAccount(account);
      if (isAccountValid) {
        userService
          .createAccount(account)
          .then(() => this.$router.push({ name: RouteName.APPLY_LOAN }))
          .catch((err) => {
            logService.error(err.message);
            this.errorMessage = 'Have issues when creating your account';
          });
      }
    }
  }
};

export default Register;
</script>

<style lang="scss" scoped>
.register {
  padding-top: 100px;
}
</style>
