<template>
  <div class="view-payment">
    <div class="container">
      <div class="columns">
        <div class="box column p-5">
          <h2 class="is-size-3">View Payment</h2>
          <div>
            <span>Loan State</span>
            <span v-if="loanState" class="tag ml-3" :class="loanStateCss">{{ loanState }}</span>
          </div>

          <notification v-if="successMessage" category="success">{{ successMessage }}</notification>
          <notification v-if="errorMessage" category="error">{{ errorMessage }}</notification>

          <table class="table is-fullwidth mt-3">
            <thead>
              <tr>
                <th>#</th>
                <th>Amount</th>
                <th>Paid</th>
                <th>Remaining</th>
                <th>Loan Term</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(payment, index) in repayments" :key="payment.id">
                <td>{{ index + 1 }}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.paid }}</td>
                <td>{{ payment.amount - payment.paid }}</td>
                <td>{{ payment.loanTerm }}</td>
                <td>
                  <span v-if="payment.isRepaid" class="tag is-success">{{ payment.status }}</span>
                  <span v-if="!payment.isRepaid" class="tag is-warning">{{ payment.status }}</span>
                </td>
                <td>
                  <div v-if="!payment.isRepaid">
                    <button v-if="!payment.openPayment" class="button is-info" @click="handleRepayClick(payment.id)">Repay</button>
                    <p v-if="payment.openPayment">
                      <input class="input amount__input" v-model="payment.payAmount" type="number" />
                      <button class="button is-info ml-3" @click="handleSubmitAmountClick(payment.id)">Submit</button>
                      <button class="button is-outlined ml-3" @click="handleCancelPaymentClick(payment.id)">Cancel</button>
                      <br /><span class="is-size-7 has-text-danger">{{ errorPayment[payment.id] }}</span>
                    </p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="field is-grouped mt-5">
            <div class="control">
              <button class="button is-link" @click="handleNewLoanClick">New Loan</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue';
import { PaymentStatus } from '@/constants/app.constants';
import { RouteName } from '@/constants/route.constants';
import { paymentHelper } from '@/helpers';
import { logService, loanService } from '@/services';
import { Notification } from '@/components/common';

const ViewPayment = {
  components: { Notification },
  setup() {
    const repayments = ref([]);
    const loanState = ref(PaymentStatus.UNPAID);

    const getRepayments = () =>
      loanService.getRepayments(123).then((response) => {
        repayments.value = response.repayments.map((item) => ({
          ...item,
          isRepaid: item.status === PaymentStatus.REPAID,
          openPayment: false,
          payAmount: 0
        }));
        loanState.value = paymentHelper.calculateAccountPaymentStatus(repayments.value);
      });

    onMounted(getRepayments);

    return { repayments, getRepayments, loanState };
  },
  data() {
    return {
      successMessage: '',
      errorMessage: '',
      errorPayment: {},
      loanStateCss: 'is-warning'
    };
  },
  watch: {
    loanState: function () {
      this.loanStateCss = this.loanState === PaymentStatus.REPAID ? 'is-success' : 'is-warning';
    }
  },
  methods: {
    clearMessages() {
      this.successMessage = '';
      this.errorMessage = '';
    },
    handleRepayClick(paymentId) {
      logService.info('handleRepayClick invoked');
      const payment = this.repayments.find((item) => item.id === paymentId);
      if (payment) {
        payment.openPayment = true;
      }
    },
    handleSubmitAmountClick(paymentId) {
      logService.info('handleSubmitAmountClick invoked');
      const payment = this.repayments.find((item) => item.id === paymentId);
      if (payment) {
        if (!payment.payAmount || payment.payAmount < 0) {
          this.errorPayment[paymentId] = 'Amount must be larger than 0';
          return;
        }
        if (payment.payAmount > payment.amount - payment.paid) {
          this.errorPayment[paymentId] = 'You pay amount larger than payment';
          return;
        }
        payment.paid += payment.payAmount;
        if (payment.amount === payment.paid) {
          payment.isRepaid = true;
          payment.status = PaymentStatus.REPAID;
        }

        payment.payAmount = 0;
        payment.openPayment = false;
        this.loanState = paymentHelper.calculateAccountPaymentStatus(this.repayments);
      }
    },
    handleCancelPaymentClick(paymentId) {
      logService.info('handleCancelPaymentClick invoked');
      const payment = this.repayments.find((item) => item.id === paymentId);
      if (payment) {
        payment.openPayment = false;
      }
    },
    handleNewLoanClick() {
      logService.info('handleNewLoanClick invoked');
      this.$router.push({ name: RouteName.APPLY_LOAN });
    }
  }
};

export default ViewPayment;
</script>

<style lang="scss" scoped>
.view-payment {
  padding-top: 50px;
  .amount__input {
    width: 200px;
  }
}
</style>
