<template>
  <div class="has-text-centered all-transactions">
    <span class="all-transactions__text">View all card transactions</span>
  </div>
</template>

<style lang="scss" scoped>
.all-transactions {
  background-color: #edfff5;
  border-color: 1px solid #ddffec;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 16px;
  &__text {
    font-size: 13px;
    font-weight: bold;
    color: $greenColor;
  }
}
</style>
