<template>
  <div>
    <div class="card-action__icon"><img :src="require(`@/assets/icons/${icon}`)" width="32" height="32" :alt="text" /></div>
    <div class="card-action__text">{{ text }}</div>
  </div>
</template>

<script>
const CardAction = {
  props: {
    icon: { type: String, required: true },
    text: { type: String, required: true }
  }
};

export default CardAction;
</script>
<style lang="scss" scoped>
.card-action {
  &__icon {
    margin-top: 8px;
  }
  &__text {
    font-size: 13px;
    line-height: 140%;
  }
}
</style>
