<template>
  <div class="card-transaction">
    <div class="is-flex card-transaction__inner">
      <div class="is-flex is-justify-content-center card-transaction__left-img" :class="iconCssClass">
        <img :src="require(`@/assets/icons/${icon}`)" width="16" height="16" />
      </div>
      <div class="is-flex-grow-1 card-transaction__body">
        <div class="card-transaction__name">{{ name }}</div>
        <div class="card-transaction__date">{{ date }}</div>
        <div class="is-flex is-align-items-center card-transaction__action-wrapper">
          <div class="is-flex is-justify-content-center card-transaction__action-img">
            <img :src="require('@/assets/icons/business-and-finance.svg')" width="10" height="8" />
          </div>
          <span v-if="action === 'in'" class="card-transaction__action">Refund on debit card</span>
          <span v-if="action === 'out'" class="card-transaction__action">Charged to debit card</span>
        </div>
      </div>
      <div class="card-transaction__amount">
        <span v-if="action === 'in'" class="card-transaction__amount--in">{{ showAmount }}</span>
        <span v-if="action === 'out'" class="card-transaction__amount--out">{{ showAmount }}</span>
        <img class="card-transaction__amount-next" :src="require('@/assets/icons/next.svg')" width="7" height="10" />
      </div>
    </div>
  </div>
</template>

<script>
const CardTransaction = {
  props: {
    name: { type: String, required: true },
    date: { type: String, required: true },
    action: { type: String, required: true },
    amount: { type: Number, required: true }
  },
  data() {
    return {
      icon: 'file-storage.svg',
      iconCssClass: ''
    };
  },
  created() {
    this.createRandomIcon();
  },
  computed: {
    showAmount() {
      const sign = this.action === 'in' ? '+' : '-';
      return `${sign} S$ ${this.amount}`;
    }
  },
  methods: {
    createRandomIcon() {
      const randomNumber = Math.floor(Math.random() * 3) + 1;
      switch (randomNumber) {
        case 1:
          this.icon = 'file-storage.svg';
          this.iconCssClass = 'card-transaction__left-img--background-1';
          break;
        case 2:
          this.icon = 'flights.svg';
          this.iconCssClass = 'card-transaction__left-img--background-2';
          break;
        case 3:
          this.icon = 'megaphone.svg';
          this.iconCssClass = 'card-transaction__left-img--background-3';
          break;
      }
    }
  }
};

export default CardTransaction;
</script>

<style lang="scss" scoped>
.card-transaction {
  padding: 15px 15px 0 15px;
  @media only screen and (max-width: $mobile) {
    padding: 15px 10px 0 10px;
  }
  &__inner {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 15px;
  }
  &__left-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  &__left-img--background-1 {
    background-color: #009dff1a;
  }
  &__left-img--background-2 {
    background-color: #00d6b51a;
  }
  &__left-img--background-3 {
    background-color: #f251951a;
  }
  &__body {
    padding: 0 12px 0 12px;
    @media only screen and (max-width: $mobile) {
      padding: 0 0px 0 8px;
    }
  }
  &__name {
    font-size: 14px;
    font-weight: bold;
    color: $blackColor;
  }
  &__date {
    font-size: 13px;
    color: #aaaaaa;
    margin-top: 2px;
  }
  &__action-wrapper {
    margin-top: 8px;
  }
  &__action-img {
    width: 24px;
    height: 20px;
    background-color: $blueColor;
    border-radius: 45%;
  }
  &__action {
    font-size: 12px;
    font-weight: bold;
    color: $blueColor;
    margin-left: 5px;
  }
  &__amount {
    font-size: 14px;
    font-weight: bold;
    &--in {
      color: $greenColor;
    }
    &--out {
      color: #222222;
    }
  }
  &__amount-next {
    margin-left: 10px;
  }
}
</style>
