<template>
  <div class="visa-card">
    <div class="has-text-right">
      <img class="aspire-logo" :src="require('@/assets/icons/aspire-logo.svg')" alt="Aspire logo" />
    </div>
    <div class="visa-card__name">{{ name }}</div>
    <div class="is-flex is-align-items-center visa-card__card-number">
      <span class="visa-card__card-number--mask">{{ maskCardNumber }}</span>
      <span class="visa-card__card-number--unmask">{{ unmaskCardNumber }}</span>
    </div>
    <div class="is-flex is-align-items-center visa-card__card-time">
      <span>Thru: {{ thru }}</span>
      <span class="visa-card__cvv-label">CVV: </span>
      <span class="visa-card__cvv-value">{{ maskCvv }}</span>
    </div>
    <div class="has-text-right">
      <img class="visa-logo" :src="require('@/assets/icons/visa-logo.svg')" alt="Visa logo" />
    </div>
  </div>
</template>

<script>
const Card = {
  props: {
    name: { type: String, required: true },
    cardNumber: { type: String, required: true },
    thru: { type: String, required: true },
    cvv: { type: String, required: true }
  },
  computed: {
    maskCardNumber() {
      const part1 = this.cardNumber.substring(0, this.cardNumber.length - 4);
      return part1.replace(/\d/g, '•');
    },
    unmaskCardNumber() {
      return this.cardNumber.substring(this.cardNumber.length - 4);
    },
    maskCvv() {
      return this.cvv.replace(/\d/g, '*');
    }
  }
};
export default Card;
</script>

<style lang="scss" scoped>
.visa-card {
  background-color: $greenColor;
  color: white;
  border-radius: 12px;
  padding: 27px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  @media only screen and (max-width: $mobile) {
    padding: 24px;
  }
  .aspire-logo {
    filter: brightness(0) invert(1);
    width: 83px;
    height: 24px;
    @media only screen and (max-width: $mobile) {
      width: 74px;
      height: 21px;
    }
  }
  &__name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    @media only screen and (max-width: $mobile) {
      font-size: 22px;
    }
  }
  &__card-number {
    margin-top: 16px;
    font-weight: bold;
    letter-spacing: 5px;
    @media only screen and (max-width: $mobile) {
      margin-top: 6px;
    }
  }
  &__card-number--mask {
    font-size: 32px;
    @media only screen and (max-width: $mobile) {
      font-size: 24px;
    }
  }
  &__card-number--unmask {
    font-size: 14px;
    margin-left: 10px;
  }
  &__card-time {
    margin-top: 0px;
  }
  &__cvv-label {
    margin-left: 45px;
    @media only screen and (max-width: $mobile) {
      margin-left: 30px;
    }
  }
  &__cvv-value {
    font-size: 20px;
    margin-left: 5px;
  }
  .visa-logo {
    width: 66px;
    height: 22px;
    @media only screen and (max-width: $mobile) {
      width: 59px;
      height: 20px;
    }
  }
}
</style>
