<template>
  <div class="mb-5">
    <transition name="slide-fade" mode="out-in">
      <card :key="activeCard.cardNumber" v-bind="activeCard"></card>
    </transition>
    <div class="has-text-centered mt-1">
      <span
        v-for="(card, index) in cards"
        :key="card.cardNumber"
        class="carousel-dot"
        :class="{ 'carousel-dot--active': card.cardNumber === activeCard.cardNumber }"
        @click="selectDot(index)"
      ></span>
    </div>
  </div>
</template>

<script>
import Card from './Card.vue';

const CardCarousel = {
  components: { Card },
  props: ['cards'],
  data() {
    return {
      activeCard: this.cards[0]
    };
  },
  methods: {
    selectDot(index) {
      this.activeCard = this.cards[index];
    }
  }
};
export default CardCarousel;
</script>

<style lang="scss" scoped>
.carousel-dot {
  background-color: #ccf6e1;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 4px;
  margin-left: 4px;
  cursor: pointer;
  &--active {
    background-color: $greenColor;
    width: 16px;
    height: 8px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
  }
}
.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}
</style>
