<template>
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <div class="is-flex is-align-items-center">
          <img :src="require(`@/assets/icons/${icon}`)" width="24" height="24" :alt="title" />
          <span class="card-title">{{ title }}</span>
        </div>
      </div>
      <button class="card-header-icon" aria-label="more options" @click="toogleCollapse">
        <img v-if="isOpen" :src="require('@/assets/icons/up-arrow.svg')" width="20" height="20" alt="Up arrow" />
        <img v-if="!isOpen" :src="require('@/assets/icons/down-arrow.svg')" width="20" height="20" alt="Down arrow" />
      </button>
    </header>
    <div v-if="isOpen">
      <slot></slot>
    </div>
  </div>
</template>

<script>
const CollapsibleCard = {
  props: {
    initialOpen: { type: Boolean, default: false },
    icon: { type: String, required: true },
    title: { type: String, required: true }
  },
  data() {
    return {
      isOpen: this.initialOpen
    };
  },
  methods: {
    toogleCollapse() {
      this.isOpen = !this.isOpen;
    }
  }
};
export default CollapsibleCard;
</script>

<style lang="scss" scoped>
.card-header {
  background-color: #f5f9ff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-title {
  font-size: 13px;
  font-weight: normal;
  margin-left: 10px;
  @media only screen and (max-width: $mobile) {
    font-weight: 600;
  }
}
</style>
