<template>
  <div class="dashboard">
    <div class="is-hidden-tablet mobile-padding">
      <mobile-sidebar class="pt-3" />
    </div>
    <div class="is-flex">
      <div class="is-hidden-mobile">
        <sidebar />
      </div>
      <div class="dashboard__card">
        <div class="mobile-padding"><span class="dashboard__account-balance">Account balance</span></div>
        <div class="is-flex is-align-items-center mobile-padding">
          <span class="dashboard__money">$$</span>
          <span class="dashboard__amount is-flex-grow-1 ml-3">3,000</span>
          <button class="dashboard__new-card button is-link">
            <img class="dashboard__new-card-icon" :src="require('@/assets/icons/box.svg')" width="16" height="16" alt="New card" />
            <span>New card</span>
          </button>
        </div>
        <div>
          <div class="mt-5 mobile-padding">
            <span class="dashboard__tab-header dashboard__tab-header--active">My debit cards</span>
            <span class="dashboard__tab-header ml-5">All company cards</span>
          </div>
          <div class="box dashboard__card-container mobile-padding">
            <div class="columns is-variable is-6">
              <div class="column">
                <div class="is-flex is-justify-content-flex-end">
                  <div class="is-flex is-align-items-center dashboard__show-card-number">
                    <img :src="require('@/assets/icons/remove_red_eye-24px.svg')" width="16" height="16" alt="Remove eye" />
                    <span class="dashboard__show-card-number-text ml-2">Show card number</span>
                  </div>
                </div>

                <div class="">
                  <card-carousel :cards="cards"></card-carousel>
                </div>
                <div class="card-list">
                  <div class="is-flex has-text-centered is-mobile mobile-padding-zero">
                    <div class="column"><card-action icon="freeze-card.svg" text="Freeze card" /></div>
                    <div class="column"><card-action icon="set-spend-limit.svg" text="Set spend limit" /></div>
                    <div class="column"><card-action icon="g-pay.svg" text="Add to GPay" /></div>
                    <div class="column"><card-action icon="replace-card.svg" text="Replace card" /></div>
                    <div class="column"><card-action icon="deactivate-card.svg" text="Cancel card" /></div>
                  </div>
                </div>
              </div>
              <div class="column card-detail-transaction-mobile">
                <collapsible-card icon="collapse-01.svg" title="Card details">
                  <div class="p-4">Card details content</div>
                </collapsible-card>
                <collapsible-card icon="collapse-02.svg" class="mt-5" title="Recent transactions" initialOpen>
                  <recent-transactions></recent-transactions>
                  <div>
                    <all-transactions></all-transactions>
                  </div>
                </collapsible-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { throttle } from 'lodash';
import MobileSidebar from './MobileSidebar.vue';
import Sidebar from './Sidebar.vue';
import CardCarousel from './CardCarousel.vue';
import CardAction from './CardAction.vue';
import CollapsibleCard from './CollapsibleCard.vue';
import RecentTransactions from './RecentTransactions.vue';
import AllTransactions from './AllTransactions.vue';

export default {
  components: { MobileSidebar, Sidebar, CardCarousel, CardAction, CollapsibleCard, RecentTransactions, AllTransactions },
  data() {
    return {
      cards: [
        { name: 'Mark Henry', cardNumber: '0909 8888 1000 2020', thru: '12/20', cvv: '123' },
        { name: 'Mark Henry', cardNumber: '0909 8888 1001 2021', thru: '12/21', cvv: '123' },
        { name: 'Mark Henry', cardNumber: '0909 8888 1002 2022', thru: '12/22', cvv: '123' }
      ]
    };
  },
  created() {
    this.handleScrollResponsiveDebounce = throttle(this.handleScrollResponsive, 5);
    window.addEventListener('scroll', (event) => this.handleScrollResponsiveDebounce(event));
  },
  methods: {
    handleScrollResponsive(event) {
      const isMobile = window.innerWidth <= 600;
      if (isMobile) {
        let scrollTop = event?.srcElement?.scrollingElement?.scrollTop || -1;
        const scrollSelector = 'card-list';
        let element = this.cardDetail || document.getElementsByClassName(scrollSelector)[0];
        if (!this.cardDetail) {
          this.cardDetail = element;
        }
        let isAtBottom = window.innerHeight + window.scrollY >= document.body.offsetHeight;
        if (scrollTop >= 0 && element && !isAtBottom) {
          element.style.zIndex = 1;
          element.style.marginTop = `-${scrollTop}px`;
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@mixin mobile-white-color {
  @media only screen and (max-width: $mobile) {
    color: white;
  }
}
@mixin mobile-text-semi-bold {
  @media only screen and (max-width: $mobile) {
    font-weight: 600;
  }
}

@mixin mobile-padding-x {
  @media only screen and (max-width: $mobile) {
    padding-left: 22px;
    padding-right: 22px;
  }
}
@mixin mobile-padding-zero {
  @media only screen and (max-width: $mobile) {
    padding-left: 0;
    padding-right: 0;
  }
}

.dashboard {
  .mobile-padding {
    @include mobile-padding-x;
  }
  .mobile-padding-zero {
    @include mobile-padding-zero;
  }
  &__card {
    padding: 60px;
    @media only screen and (max-width: $mobile) {
      padding: 0;
    }
  }
  &__account-balance {
    font-size: 14px;
    color: $blackColor;
    @include mobile-white-color;
    @include mobile-text-semi-bold;
  }
  &__money {
    font-size: 13px;
    color: white;
    background-color: $greenColor;
    padding: 2px 12px;
    border-radius: 4px;
  }
  &__amount {
    font-size: 26px;
    font-weight: bold;
    color: $blackColor;
    @include mobile-white-color;
  }
  &__new-card {
    @media only screen and (max-width: $mobile) {
      font-size: 13px;
      font-weight: bold;
      color: #23cefd;
      outline: none;
      background-color: transparent;
    }
  }
  &__new-card-icon {
    margin-right: 8px;
  }
  &__tab-header {
    font-size: 14px;
    color: $blackColor;
    opacity: 30%;
    padding-bottom: 3px;
    &--active {
      font-weight: bold;
      opacity: 100%;
      border-bottom: 2pt solid $cyanColor;
    }
    @include mobile-white-color;
  }
  &__card-container {
    margin-top: 18px;
    padding-left: 40px;
    padding-right: 40px;
    @media only screen and (max-width: $mobile) {
      background-color: transparent;
    }
  }
  &__show-card-number {
    margin-top: 5px;
    padding-bottom: 0.5rem;
    @media only screen and (max-width: $mobile) {
      background-color: white;
      padding: 5px 10px 4px 10px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }
  &__show-card-number-text {
    font-size: 12px;
    font-weight: bold;
    color: $greenColor;
  }

  @media only screen and (max-width: $mobile) {
    background-color: #0c365a;
  }
  .card-list {
    background-color: #edf3ff;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
    @media only screen and (max-width: $mobile) {
      margin-left: -22px;
      margin-right: -22px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
  .card-detail-transaction-mobile {
    padding-top: 44px;
    @media only screen and (max-width: $mobile) {
      background-color: white;
      margin-top: -16px;
      padding-top: 24px;
    }
  }
}
</style>
