<template>
  <div class="menu-item is-flex">
    <img :src="require(`@/assets/icons/${icon}`)" width="24" height="24" :alt="text" />
    <span class="menu-item__text" :class="{ 'menu-item__text--active': active }"> {{ text }}</span>
  </div>
</template>

<script>
const MenuItem = {
  props: {
    icon: { type: String, required: true },
    text: { type: String, required: true },
    active: { type: Boolean, default: false }
  }
};

export default MenuItem;
</script>

<style lang="scss" scoped>
.menu-item {
  padding: 30px 0;
  &__text {
    font-size: 16px;
    color: white;
    padding-left: 16px;
    cursor: pointer;
    &--active {
      color: $greenColor;
    }
  }
}
</style>
