<template>
  <div class="recent-transactions">
    <card-transaction v-for="transaction in transactions" :key="transaction.id" v-bind="transaction"></card-transaction>
  </div>
</template>
<script>
import CardTransaction from './CardTransaction.vue';

const RecentTransactions = {
  components: { CardTransaction },
  data() {
    return {
      transactions: [
        { id: 1, name: 'Hamleys', date: '20 May 2020', action: 'in', amount: 150 },
        { id: 2, name: 'Hamleys', date: '20 May 2020', action: 'out', amount: 150 },
        { id: 3, name: 'Hamleys', date: '20 May 2020', action: 'out', amount: 150 },
        { id: 4, name: 'Hamleys', date: '20 May 2020', action: 'out', amount: 150 }
      ]
    };
  }
};
export default RecentTransactions;
</script>

<style lang="scss" scoped>
.recent-transactions {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
</style>
