<template>
  <div class="sidebar">
    <div class="sidebar__body">
      <img :src="require('@/assets/icons/aspire-logo.svg')" width="125" height="35" alt="Aspire logo" />
      <p class="sidebar__slogan">Trusted way of banking for 3,000+ SMEs and startups in Singapore</p>
      <div class="sidebar__menu">
        <div class="is-flex is-flex-direction-column">
          <menu-item v-for="menu in menuItems" :key="menu.text" v-bind="menu" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MenuItem from './MenuItem.vue';

export default {
  components: { MenuItem },
  data() {
    return {
      menuItems: [
        { icon: 'home.svg', text: 'Home' },
        { icon: 'card.svg', text: 'Cards', active: true },
        { icon: 'payments.svg', text: 'Payments' },
        { icon: 'credit.svg', text: 'Credit' },
        { icon: 'account.svg', text: 'Settings' }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.sidebar {
  width: 340px;
  height: 100%;
  background-color: #0c365a;
  &__body {
    padding: 48px;
  }
  &__slogan {
    font-size: 15px;
    color: white;
    opacity: 30%;
    margin-top: 12px;
  }
  &__menu {
    margin-top: 50px;
  }
}
</style>
