<template>
  <div class="notification" :class="cssClass">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    category: {
      default: 'info',
      validator: function (value) {
        if (value) {
          return ['success', 'info', 'error'].indexOf(value) !== -1;
        }
        return true;
      }
    }
  },
  computed: {
    cssClass: function () {
      let cssClass = '';
      switch (this.category) {
        case 'success':
          cssClass = 'is-success';
          break;
        case 'error':
          cssClass = 'is-danger';
          break;
        default:
          cssClass = 'is-info';
      }
      return cssClass;
    }
  }
};
</script>
