<template>
  <div id="nav">
    <router-link to="/code-challenge">Code Challenge</router-link> |
    <router-link to="/css-challenge">CSS Challenge</router-link>
  </div>
  <router-view />
</template>

<style lang="scss">
#app {
  font-family: Open Sans;
}

#nav {
  background-color: aliceblue;
  text-align: center;
  font-size: 16px;
  a {
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
